---
import "../styles/global.css";
import "../styles/Nav.css";
import Menu from "../components/mobile-nav/Menu.jsx"
import Dropdown from "../components/mobile-nav/Dropdown.astro"
import NavBar from "../components/desktop-nav/NavBar.astro"
---

<nav class="tablet-plus">
	<NavBar />
</nav>
<nav class = "mobile">
	<Dropdown />
</nav>

<style>

	@media (min-width: 641px){
		.mobile {
			display: none;
		}
	}

	@media (max-width: 640px){
		.tablet-plus {
			display: none;
		}
	}

</style>
