body {
    margin:0px auto;
    padding:0px;
  }

  #slide_menu{
    z-index: 12;
  }

  #slide_nav {
    background-color: var(--c-navbar);
    width:100%;
    height:60px;
    line-height:60px;
    color: aqua;
    font-family:helvetica;
    font-size:25px;
    padding-left:10px;
    box-sizing:border-box;
  }
  #slide_nav_button {
    width:90px;
    cursor:pointer;
  }
  ul {
    display:none;
    padding:0px;
    margin:0px;
    width:200px;
    height:90%;
    background-color:#2E2E2E;
    position:absolute;
    box-shadow:inset 0px 0px 50px 0px #6E6E6E;
  }
  #slide_menu li {
    border-bottom:1px solid #424242;
    z-index: 12;
  }
  #slide_menu li:hover {
    width:201px;
    background-color:#2E2E2E;
    box-shadow:inset 0px 0px 50px 0px #848484;
    -webkit-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
    z-index: 12;
  }
  #slide_menu li a {
    height:50px;
    line-height:50px;
    display:block;
    color:silver;
    text-decoration:none;
    font-size:18px;
    font-family: helvetica;
    padding-left:10px;
    z-index: 12;
  }
  #slide_menu li:hover a {
    padding-left:25px;
    color:white;
    -webkit-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  #page_content {
    margin-top:40px;
    text-align:center;
    font-family: helvetica;
  }